.button {
  font: inherit;
  font-size: 1.6rem;
  padding: 0.8rem 1.5rem;
  border: 0.3rem solid #9ae07f;
  border-radius: 0.5rem;
  background: white;
  color: #6ba754;
  cursor: pointer;
  font-weight: 600;
}

.button:hover,
.button:active {
  color: white;
  background: #9ae07f;
  border-color: #6ba754;
}

.button--secondary {
  border: 0.3rem solid #64b4e5;
  background: white;
  color: #64b4e5;
}

.button--secondary:hover,
.button--secondary:active {
  background: #64b4e5;
  color: white;
  border-color: #0a75b8;
}

.button--inverse {
  color: white;
  background: #9ae07f;
  border-color: #6ba754
}

.button--inverse:hover,
.button--inverse:active {
  background: #6ba754;
  border-color:#9ae07f;
}

.button--danger {
  background: white;
  color: #f34343;
  border-color: #f34343;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  color: white;
  border-color: #830000;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}


