.coordinatesControls {
  display: flex;
  justify-content: center;
}

.locationBtn {
  height: 3rem;
  width: 3rem;
}
  
.locationBtnContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  right: 0.5rem;
}

.lngLat {
  width: 100%;
}

.lngLat > * {
  margin-bottom: 0.5rem;
}

.lat, .lng {
border-radius: 0.5rem;
}

.form-control {
  margin: 0.1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: 0.1rem solid #ccc;
  background: #f8f8f8;
  padding: 0.15rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}