.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: 0.1rem solid #ccc;
  background: #f8f8f8;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--valid input,
.form-control--valid textarea{
  background: rgb(192, 244, 192);
  border-color: green;
}

.form-control--invalid label,
.form-control--invalid p {
  max-width: 30rem;
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}
