.map-container {
    width: 95vw;
    height: 100vh;
    max-width: 100rem;
    max-height: 60rem;
}
  
.marker {
    color: white;
    transform: scale(3);
}
.footer {
    background-color: white;
    display:flex;
    justify-content:center;
    width: 100%;
    padding: 1rem;
}