.taxaContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    color: gray;
    font-size: 1.8rem;
    padding: 0;
}
.checkbox {
    display: none;
}
.label {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.1s;
    border-bottom: 0.2rem solid black;
    background-color: rgb(241, 241, 241);
    color: rgb(157, 157, 157);
    box-shadow: 0.1rem 0.1rem 0.5rem black;
    
}

.active {
    color: white;
    background-color: #007da7dd;
    border-bottom: 0.1rem solid black;
    box-shadow: 0.05rem 0.05rem 0.3rem black;
    transform: scale(99%)
}


.inactive:hover {
    color: #007da7;  
    background-color: white;
    border-bottom: 0.2rem solid black;
  }

.errorText {
    color: red;
    width: 100%;

}

.invalid {
    color: red;
}
