.edit-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0.6rem;
    font-size: 2rem;
    color: black;
    text-shadow: none;
    border-radius: 0.5rem;
    max-width: 480px;
    margin-top: 3rem;
  }

  .form-control {
    width: 100%;
  }
  .edit-moveIn {
    animation: moveLeft 0.5s ease-in-out 0.5s forwards;
  }
  
  .edit-moveOut {
    animation: moveRight 0.5s ease-in-out forwards;
  }
  
  .edit-form input {
    width: 100%;
  }
  
  .header {
    color: #007EA7;
    font-size: 3rem;
    font-family: "Gochi Hand", cursive;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
  }
  .back {
    margin: 0;
    position: relative;
    width: 100%;
    text-align: right;
    cursor: pointer;
  }
  
  .edit-form button {
    margin: 0.3rem;
  }
  
  .card {
    padding: 0.6rem;
    min-width: 2.5rem;
  }
  
  .pagination {
    font-size: 2.5rem;
    font-family: "Gochi Hand", cursive;
    color: #007EA7;
    cursor: pointer;
  }
  
  @keyframes moveLeft {
    0% {
      left: 100%
    }
    
    85% {
      left: -10%;
    }
    100% {
      left: 0;
    }
  }
  
  @keyframes moveRight {
    from {
      left: 0%
    }
    
    15% {
      left: -10%;
    }
    100% {
      left: 100%;
    }
  }
  