.species-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 920px;
}

@media (min-width: 480px) {
  .species-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.addSpeciesLink {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(109, 109, 109);
  
  padding: 10px;
  border: 1px dashed gray;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.addSpeciesLink:hover {
  color: black;  
  border: 1px solid black;
}
.addSpeciesLink:active {
  background-color: gray;
  color:white;
}
