.species-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
}

@media (max-width: 1000px) {
  .species-list {
    width: 100%;
  }
}

.addSpeciesLink {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(109, 109, 109);
  
  padding: 1rem;
  border: 0.1rem dashed gray;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.addSpeciesLink:hover {
  color: black;  
  border: 0.1rem solid black;
}
.addSpeciesLink:active {
  background-color: gray;
  color:white;
}
