.profileImg-container {
    display: flex;
    flex-direction: column;
}

.profileImg {
    height:10rem;
    width:10rem;
    border-radius: 50%;
    border: 0.4rem solid white;
    object-fit: cover;
}

.profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    margin: 1rem;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info-container h3, .info-container h4 {
    text-align: center;
}

.spacer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 0.4rem;
    background-color: white;
}

