.enter {
    transform: translateX(0rem);
}
  
.enterActive {
    transform: translateX(-50rem);
    transition: transform 300ms ease-in-out
}
  
.exit {
    transform: translateX(-50rem);
}
  
.exitActive {
    transform: translateX(0rem);
    transition: transform 300ms ease-in-out
}