.speciesProfileContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  margin-top: 20rem;
}


@media (max-width: 1200px) {
  .speciesProfileContainer {
margin-right: 5rem;
margin-top: 10rem}
}

@media (max-width: 480px) {
  .speciesProfileContainer {
margin-right: 0;
margin-top: 0rem}
}

.bumpSpecies {
  animation: 0.3s ease-in-out bump;
}

.speciesImgContainer {
  position: relative;
  top: 2rem;
  text-align: center;
  width: 100%;
}

.speciesImg {
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 10%;
  position: relative;
  border: 0.3rem solid white;
  background-color: white;
  box-shadow: 0.3rem 0.3rem 0.5rem black;
  object-fit: cover;
}

.speciesProfileCancel {
  position: relative;
  left: calc(100% - 8rem);
  top: 3rem;
  height: 6rem;
  width: 6rem;
  background-color: white;
  border: 0.5rem solid #007da7;
  color: #007da7;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-family: "Gochi Hand", cursive;
}
@media (max-width: 1000px) {
  .speciesProfileCancel {
    display: flex}
}

.speciesInfoContainer {
  background-color: white;
  box-shadow: 0 0 2rem black;
  padding: 1rem;
  border-radius: 1rem 1rem 2rem 2rem;
  border-bottom: 1rem solid #9ae07f;
}

.speciesNamesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  margin-top: 1.5rem;
}

.speciesCommonName {
  font-family: "Gochi Hand", cursive;
  color: #9ae07fe1;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  width: 90%;
  text-align: center;
  position: relative;
  margin-bottom: 0.5rem;
}

.speciesScientificName {
  position: relative;
  font-family: "Gochi Hand", cursive;
  color: black;
  text-transform: lowercase;
  text-shadow: none;
  font-size: 1.5rem;
}

.speciesNamesDivider {
  height: 0.25rem;
  background-color: #000;
  width: 70%;
  text-align: center;
  border-radius: 20%;
}

.control_body__observations {
  max-height: 14vh;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: inset 0.1em 0.2em 0.5em black;
  border-radius: 2rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: scroll;
}

.userProfileContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userProfiles {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 768px) {
  .control {
    left: 70rem;
  top: 10rem;
  height: 60rem;
  width: 40rem;
  display: flex;
  }
}

@keyframes welcomeStartUp {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 70%;
  }
}

@keyframes bump {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  50% {
    transform: scale(105%);
    opacity: .8;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}