body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 10px;
}

@media (max-width: 1300px) {html {font-size: 9px;}} /*tablet-landscape*/
@media (max-width: 1000px) {html {font-size: 8px;}} /*tablet-portrait*/
@media (max-width: 490px) and (-webkit-max-device-pixel-ratio: 4) {html {font-size: 7px;}} /*tablet-portrait and phone*/

.centered {
  margin: 0.6rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 1.4em;
  font-weight: 400;
}

h3 {
  font-size: 1.8em;
  font-weight: 400;
}

h2 {
  font-size: 3em;
  font-weight: 400;
}

h1 {
  font-size: 8em;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
}




