.authContainer {
  left: 100%;
  position: relative;
  left: 100rem;
  top: 7rem;
  
}

.auth-moveIn {
  animation: moveLeft 0.5s ease-in-out forwards;
}

.auth-moveOut {
  animation: moveRight 0.5s ease-in-out forwards;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    left: 100rem;
  }
  
  85% {
    opacity: 1;
    left: -2rem;
  }
  100% {
    left: 0rem;
  }
}

@keyframes moveRight {
  from {
    opacity: 1;
    left: 0rem;
  }
  
  15% {
    left: -2rem;
  }
  100% {
    opacity: 0;
    left: 100rem;
  }
}
